body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 46px;
}

.section2-p {
    padding-right: 150px;
}

.font-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 50px 0px 0px 100px;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.link-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.section1-bg {
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}

.section2-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}